@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: "Poppins", sans-serif;
}

body {/* 
    background-color: black; */
    /* background-color: rgb(85, 75, 64); */
    /* background-color: rgb(107, 91, 70); */
    /* background-image: radial-gradient(rgb(107, 91, 70),#450100); */
    /* background-image: radial-gradient(rgb(0, 0, 0),#450100); */
    background-image: radial-gradient(#450100, black);
    color: whitesmoke;
}

main {
    margin: 90px;
}

nav {
    text-align: right;
}

ul li {
    display: inline-flex;
    list-style: none;
    margin: 0 20px;
    gap: 10px;
}

a {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    font-family: "Poppins", sans-serif;
}

a:hover {
    background-color: #271413;
    color: #661513;
    padding: 8px;
    border-radius: 30px;
    transition: 200ms;
}

a:active {
    background-color: #450100;
}

.navbar {
    /* background-color: #450100; */
    padding: 10px;
}




/* container-max-widths (: 
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px); */




/* Títulos y texto */
h1 {
    display: inline-block;
    font-size: 300%;
    font-weight: 500;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

h2 {
    font-size: 40px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 90%;
}

@media (min-width: 650px) {
    h1 {
        font-size: 400%;
        font-weight: 500;
    }

    h2 {
        font-size: 50px;
        font-weight: 300;
    }

    h3 {
        font-size: 20px;
        font-weight: 600;
    }

    p {
        font-size: 100%;
    }
}

@media (min-width: 991px) {
    h1 {
        font-size: 600%;
        font-weight: 500;
    }

    h2 {
        font-size: 60px;
        font-weight: 300;
    }

    h3 {
        font-size: 25px;
        font-weight: 600;
    }

    p {
        font-size: 120%;
    }

    ol li {
        font-size: 120%;
    }
}




/* Home */
.box img {
    width: 180px;
}

.gridContainer {
    justify-content: center;

    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.box {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90%;
    font-family: "Poppins", sans-serif;
}

@media (max-width: 390px) {
    .box img {
        width: 150px;
    }

    .gridContainer {
        grid-template-columns: 150px 150px;
    }
}

@media (min-width: 600px) {
    .box img {
        width: 180px;
    }

    .gridContainer {
        grid-template-columns: 300px 300px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}

@media (min-width: 900px) {
    .box img {
        width: 300px;
    }

    .gridContainer {
        grid-template-columns: 400px 400px;
    }

    .box {
        font-size: 119%;
    }
}

@media (min-width: 1200px) {
    .gridContainer {
        grid-template-columns: 500px 500px;
    }

    .box {
        font-size: 120%;
    }
}




/* Sobre ella */
@media (max-width: 990px) {
    .sobreElla {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (min-width: 991px) {
    .sobreElla {
        margin-left: 100px;
        margin-right: 100px;
    }
}




/* Discografía */
ol li {
    list-style: none;
    font-family: "Poppins", sans-serif;
}

.albumLana {
    text-align: center;
}

.playList {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;

}

@media (min-width: 991px) {
    .playList {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 20px;
    }
}




/* Galería */
#carousel1 {
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
}

#galleryph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#carousel2 {
    width: 300px;
    margin: auto;
    margin-top: 20px;
}

#galleryvid {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 568px) {
    #galleryvid {
        width: 300px;
        height: 205px;
    }
}

@media (min-width: 769px) {
    #gallerymin {
        display: none;
    }
}

@media (min-width: 0px) {
    .fotos {
        display: none;
    }
}

@media (min-width: 769px) {
    .fotos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-columns: 270px 253px 245px;
        grid-template-rows:450px, 500px, 300px;
        grid-template-areas: 
        "largeUno largeDos largeTres"
        "ffGf ffGf ffGf"
        "redUno redDos redTres"
        ;
        justify-content: center;
        gap: 10px;
    }

    .videos {
        display: flex;
        justify-content: center;
    }

    .largeUno {
        grid-area: largeUno;
        height: 450px;
    }

    .largeDos {
        grid-area: largeDos;
        height: 450px;
    }

    .largeTres {
        grid-area: largeTres;
        height: 450px;
    }

    .ffGg {
        grid-area: ffGf;
        height: 500px;
        display: flex;
        justify-content: center;
    }

    .redUno {
        grid-area: redUno;
        height: 300px;
    }

    .redDos {
        grid-area: redDos;
        height: 300px;
    }

    .redTres {
        grid-area: redTres;
        height: 300px;
    }
}







/* Página de contacto */
form {
    display: grid;
    justify-content: center;
    align-items: center;
}

.pafContact {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.titleContact {
    text-align: center;
}

.button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    transition: 150ms;
}

input:hover {
    background-color: #661513;
}

input:active {
    box-shadow: 0 0 1rem rgb(77, 73, 73)
}




/* Footer */
.imgFooter1 {
    width: 30px;
    margin-bottom: 40px;
    margin-top: -40px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.imgFooter2 {
    width: 30px;
    margin-bottom: 40px;
    margin-top: -40px;
    position: absolute;
    right: 55px;
    cursor: pointer;
}

.imgFooter3 {
    width: 30px;
    margin-bottom: 40px;
    margin-top: -40px;
    position: absolute;
    right: 90px;
    cursor: pointer;
}

footer {
    /* background-color: #450100; */
    background-color: #2e0706;
    color: black;
    height: 70px;
    padding: 30px;
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width:412px) {
    .imgFooter1 {
        margin-top: -35px;
    }

    .imgFooter2 {
        margin-top: -35px;
    }

    .imgFooter3 {
        margin-top: -35px;
    }

    footer {
        font-size: 8px;
    }
}

@media (min-width: 768px) {
    .imgFooter1 {
        width: 50px;
        margin-bottom: 40px;
        margin-top: -55px;
        right: 50px;
    }

    .imgFooter2 {
        width: 50px;
        margin-bottom: 40px;
        margin-top: -55px;
        right: 110px;
    }

    .imgFooter3 {
        width: 50px;
        margin-bottom: 40px;
        margin-top: -55px;
        right: 170px;
    }

    footer {
        height: 15vh;
        padding: 60px;
        font-size: 12px;
    }
}